:root {
  --black: #000000;
  /* --orange: #ffa500; */
  --coffee-brown: #422a19;
  --pink: #fdc4c4;
  --white: #ffffff;
  --body-brown: #f8e2d4;
}


* {
  margin: 0;
  box-sizing: border-box;
}

.active {
  text-decoration: dotted underline;
  color: var(--coffee-brown);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-bottom: 4px solid var(--coffee-brown);
  font-size: 1.5rem;
}

nav a {
  padding: 10px;
  color: var(--black);
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 2rem auto 6rem auto;
  gap: 20px;
  /* Add gap property to create spaces between the cards */
}

.coffee-card {
  border: 3px solid var(--black);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: calc(100% - 20px);
  /* Adjusted to accommodate the gap */
  justify-content: center;
  align-items: center;
}

.coffee-card h3 {
  font-size: 1.5rem;
}

.coffee-card button {
  margin-top: 1rem;
  padding: .5rem .75rem;
  border: none;
  border-radius: 5px;
  background-color: var(--coffee-brown);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.coffee-card p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

span {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: var(--coffee-brown);
  border: 1px solid var(--black);
  font-size: 2rem;
  color: var(--white)
}



@media (min-width: 400px) and (max-width: 720px) {
  .coffee-card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 720px) {
  .coffee-card {
    width: calc(33.3% - 20px);
  }
}

body {
  background-color: var(--body-brown);
}


table {
  border-collapse: collapse;
  margin-top: 20px;
  margin: 2rem auto;
  font-size: 1.5rem;
}

th,
td {
  text-align: left;
  padding: 12px;
}


thead {
  background-color: var(--coffee-brown);
  color: var(--white);
  font-size: 1rem;
}

thead>tr th {
  border: 1px solid var(--coffee-brown);
}

.t-rows {
  border-bottom: 4px dashed var(--coffee-brown);
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.toggle-btn {
  padding: .5rem .5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--coffee-brown);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5px;
}

.delete-btn {
  background-color: var(--pink);
  border-radius: 50%;
  color: red;
  border: none;
  padding: 0rem .5rem;
  font-size: 2rem;
  cursor: pointer;
}